.header{
    text-align: center;
    padding: 10px;
    color: white;
    background-color: rgb(69, 100, 19);
    font-family: cursive;
}

.background{
    /* background-image: url(../Day3/background.jpg); */
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(154, 228, 147);
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    border-radius: 10%;
    object-position: center;
}